*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: uppercase;
}
.container{
min-height: 100vh;
background: black;
display: flex;
align-items: center;
justify-content: center;
flex-flow: column;
padding-bottom: 450px;
padding-right: 200px;
}

.container form{
background: rgba(245, 243, 243, 0.274);
border-radius: 4px;
box-shadow: 0px 5px 10px black;
padding: 30px;
width: 700px;
padding-top: 200px;
}
.container form .inputBox{
    margin-top: 25px;
}
.container form .inputBox span{
    display: block;
    color: black;
    padding-bottom: 5px;
    font-size: large;
}
.container form .inputBox input,
.container form .inputBox select{
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid white;
    color: rgb(25, 0, 255);
}
.container form .flexbox{
    display: flex;
    gap: 15px;
}
.container form .flexbox .inputBox{
    flex: 2 2 150px;
}
.container form .submit-btn{
    width: 100%;
    background: linear-gradient(45deg, blue, rgb(255, 20, 20));
    margin-top: 20px;
    padding: 7px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    border-radius: 10px;
    break-before: 5px;
}
.container form .submit-btn:hover{
    letter-spacing: 2px;
    opacity: 5px;
}
.container .card-container{
    margin-bottom: -160px;
    position: relative;
    height: 210px;
    width: 400px;
}
.container .card-container .front{
    position: absolute;
    height: 100%;
    width: 100%;
    top: -50px; left: 90px;
    background: linear-gradient(45deg, blue, rgb(255, 20, 20));
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgb(8, 8, 8); 
    padding: 20px;
    transform: perspective(1000px) rotateY(0deg);
    transition:transform .5s ease-out;
    color: gold;
}
.container .card-container .front .image{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.container .card-container .front .card-number-box{
    padding: 20px 0;
    font-size: 25px;
    color: rgb(7, 7, 7);
    
}
.container .card-container .front .copyright{
    margin-left: 100px;
    margin-top: -30px;
    font-size: small;
    color: black;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container .card-container .front .flexbox{
    display: flex;
}
.container .card-container .front .flexbox .box:nth-child(1){
    margin: auto;
}
.container .card-container .front .flexbox .box{
font-size: 16px;
margin-left: 120px;
}
.container .card-container .back{
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, blue, rgb(255, 20, 20));
    border-radius: 5px;
    padding: 20px 0;
    text-align: right;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px black;
    transform: perspective(1000px) rotateY(180deg);
    transition:transform .5s ease-out;

}
.container .card-container .back .stripe{
    background: black;
    width: 100%;
    margin: 10px 0;
    height: 50px;
}
.container .card-container .back .box{
    padding: 0 20px;
}
.container .card-container .back .box span{
 color: blanchedalmond; 
 font-size: 15px; 
 align-items: center; 
}
.container .card-container .back .box .cvv-box{
    height: 35px;
    padding: 8px;
    margin-bottom: 4px;
    color: black;
    background: ghostwhite;
    border-radius: 5px;
    width: 70%;
}
.container .card-container .back .box img{
    margin-top: 15px;
    height: 25px;

}
